<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Charger</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐙</text></svg>">
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center">🚗 🐙</a>
      </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="center">

          <form class="col s12 center" method="POST">
            <!-- Thresholder / Timer switch -->
            <div class="switch col">
              <label>
                Threshold
                <input {{ use_timer }} type="checkbox" id="useTimer" name="useTimer">
                <span class="lever"></span>
                Timer
              </label>
            </div>

            <div class="section"></div>

            <!-- Charging threshold -->
            <div id="charging-threshold" class="row">
              <div class="input-field col s12">
                <input value="{{ price_threshold }}" id="price" name="price" type="number" class="validate center">
                <label id="price-label" for="price">Charge the car when the price is less than:</label>
              </div>
            </div>

            <!-- Start charging datetimes -->
            <div id="charging-timer" class="charging-timer">
              <div class="row">
                <div class="col s6 input-field ">
                  <input value="{{ start_charge_date }}" id="start-date" name="start-date" type="text" class="datepicker-start">
                  <label for="start-date" class="">Start charging date</label>
                </div>
                <div class="col s6 input-field ">
                  <input value="{{ start_charge_time }}" id="start-time" name="start-time" type="text" class="timepicker-start">
                  <label for="start-time" class="">Start charging time</label>
                </div>
              </div>

              <!-- End charging datetimes -->
              <div class="row">
                <div class="col s6 input-field ">
                  <input value="{{ end_charge_date }}" id="end-date" name="end-date" type="text" class="datepicker-end">
                  <label for="end-date" class="">End charging date</label>
                </div>
                <div class="col s6 input-field ">
                  <input value="{{ end_charge_time }}" id="end-time" name="end-time" type="text" class="timepicker-end">
                  <label for="end-time" class="">End charging time</label>
                </div>
              </div>
            </div>

            <button class="btn-large waves-effect waves-light light-blue" type="submit" name="action">
              Submit
            </button>

          </form>




        </div>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // Make the flask variables available in javascript
      var start_charge_date = "{{ start_charge_date }}";
      var start_charge_time = "{{ start_charge_time }}";
      var end_charge_date = "{{ end_charge_date }}";
      var end_charge_time = "{{ end_charge_time }}";
    </script>
    <script src="{{ url_for('static', filename='javascript.js')}}"></script>
    {% if show_toast %}
    <script>
      M.toast({html: "Updated 👍", classes: "green"})
    </script>
    {% endif %}

  </body>
</html>
