black==24.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
DateTime==5.5
idna==3.6
mypy-extensions==1.0.0
OctopusAgile==0.0.6
packaging==24.0
pathspec==0.12.1
phue==1.1
platformdirs==4.2.0
pytz==2024.1
requests==2.31.0
urllib3==2.2.1
zope.interface==6.2
